
body {background-color: #FFF1BD; 
    margin: 0px;
}
h1{margin-top:0;}
.nome{padding-left:10px;
}
hr {
    border-style:none;
    border-top-style:dotted ;
    border-color: #A3DA8D ;
    border-width:6px;
    height: 0px;width:25%; }
    h1{color:#8b7a17 ;
    }
    .titulo{background-color:#f5ca96}
    .habilidade{background-color:#FFF1BD}
    .finish{background-color:#A3DA8D}
.ola{text-align:center;
}
.linha{position:relative;
top: 3px;
}

