
body {background-color: #FFF1BD;   
}
hr {
    border-style:none;
    border-top-style:dotted ;
    border-color: #A3DA8D ;
    border-width:5px;
    height: 0px;width:25%; }
    h1{color:#8b7a17 ;
    }
    